
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

nav {
    /* background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%); */
    z-index: 200;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    color: #F7F7F7;
    /* border-bottom: 2px solid #adadad7c; */
}

section {
    background-color: #F1F8D6;
}

.navLogo {
    width: 125px;
    height: 67px;
}

nav a {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    
}

#bio {
    padding-top: 12vh;
    z-index: 300;
}

.homeSection{
    height: 84vh;
    padding-top: 5vh;
}

#textbg{
    position: absolute;
    width: 33rem;
    height: 58vh;
    margin-top: 10vh;
    background-color: #646ee048;
    border-radius: 10px;
    z-index: 1000;
    left: 15vw
}

.h3 {
    position: absolute;
    font-family: 'Ramabhadra', sans-serif;
    color: #1c1200ad;
    font-size: 100px;
    z-index: 500;
    /* margin-top: -8vh; */
}

#name {
    color: rgb(39, 39, 39);
    
}

.list-group{
    margin-top: 10vh;
    padding: #81FBB8a2 5px solid;
}

.list-group-item {
    background-color: #81FBB8a2;
    border: none;
}

.list-group-item-action {
    background-color: #81fbb8e7;
}
.list-group-item:hover {
    background-color: #4DE6A9EE;
    border: none;
}

.list-group-horizontal-sm .list-group-item > * {     width: auto; }



#portfolio {
    font-size: 3vw;
}

#aka {
    opacity: 0;
}

#name {
    position: relative;
    font-size: 20px;
    top: -13vh
}

#appsColumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #C643BB1a;
    height: 72vh;
}
#appsWindow {
    background-color: #C9D1D9;
    height: 70vh;
    /* width: auto; */
    font-size: 1.5rem;
    border-radius: 10px;
}
#appsWindow img {
    cursor: pointer;
}


.image-thumbnail{
    
    margin-top: 5vh;
    margin-left: 6%;
    height: auto;
    width: 42vw;
    border-radius: 10px;
    border: 5px solid #495057ae
}

.caption{
    position: absolute;
    font-size: 90%;
    left: 9%;
    top: 59vh;
    width: 300px;
    font-weight: 300;
    text-align: justify;
    line-height:20px;
    
    border-left: 1px solid #495057ee;
    border-bottom: 1px solid #495057bb;
    border-bottom-left-radius: 10px;
    padding-left: 3px;
    padding-bottom: 3px;
    /* margin-left: 6%; */
}

.librariesUsed{
    position: absolute;
    font-size: 10px;
    left: 55%;
    top: 67vh;

}

.clickImage > a{
    position: absolute;
    font-size: 1rem;
    text-align: center;
    left: 71%;
    top: 62vh;
    border-radius: 10px;
    border: 5px solid #495057ae;
    color: #1c1200b6;
    padding: 5px;
}

.clickImage > a:hover{
    color: #1C1200;
}

.carousel{
    padding-top: 15vh;
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom:0;
   width:100%;
   height: 7%;
   /* Height of the footer */
   /* background:#6cf; */
   /* border-top: 2px solid #adadad7c; */
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    color: #1c1200af;
    z-index: 1000;
}

a {
    
    font-size: larger;
    text-decoration: none;
    letter-spacing: 2px;
    color: #1C1200;
}

a:hover {
    text-decoration: none;
    color: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);

}



footer > a {
    color: #1C1200;

}

footer img {
    opacity: 0.8;
}

.about {
    width: 28rem;
    padding-top: 100px;
    color: #1c1200;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 1.8rem;
    line-height: 2.6rem;
    z-index: 2000;

}

.about {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: justify;
}


/* Resume */

.resumeFile{
    height: 100%;
    width: 100%;
}

/* Contact */

.contactSpan {
    font-size: 4rem;
    font-family: 'Ramabhadra', sans-serif;
    background-color: #81FBB8a2; 
    padding: 10px;
    border-radius: 10px;
    color: #495057ae;
}

.contactForm {
    padding-top: 8vh;
    padding-bottom: 4vh;
}

form {
    font-size: 1.1em;
    font-weight: 300;
}

#formControlTextarea1{
    resize: none;
}

.spanText {
    margin-top: 5vh;
    margin-left:3vw;
    font-size: 3vw;
    text-align: justify;
    opacity: .7;
    letter-spacing: .1vw;
}

.bandcampImg, .audiusImg, .centImg, .raribleImg, .spotifyImg {
    border: 0px transparent solid;
    margin-top: 3vh;
    cursor: pointer;
}

.btn {
    background-color: #646ee048;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}

/* PHONE SIZES */

canvas {
    position: absolute;
    top: 0;
    z-index: 1;
}

#header3 {
    font-size: 2.5rem;
    padding-top: 15vh;
    padding-bottom: 1vh;
    margin-left: 15vw;

}

#audiusHeader3 {
    font-size: 2.5rem;
    padding-bottom: 1vh;
    margin-left: 15vw;

}

#grid {
    width: 100%;
    display: flex; 
    /* it's actually a flexbox */
    flex-direction: row;
    /* justify-content: space-around; */
    overflow: auto;
    flex-flow: nowrap;
    margin-top: 1vh;
    padding-bottom: 5vh;
}

#audiusGrid {
    width: 100%;
    display: flex; 
    /* it's actually a flexbox */
    flex-direction: row;
    /* justify-content: space-around; */
    overflow: auto;
    flex-flow: nowrap;
    margin-top: 1vh;
    padding-bottom: 15vh;
}

#cardBody {
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center */
    text-align: center;
    font-family: 'Ramabhadra', sans-serif;
}

.customCard {
    width: 100%;
    height: auto;
    border: none;
    background-color: #646ee048;
    border-radius: 10px;
    margin: 0 1rem;
    padding: 1rem;
}

.card-img-top {
    object-fit: fill;
    width: 290px;
    max-height: 290px;
    width: 100%;
    height: 35vh;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #f8ae1b28;
    background-color: #f8ae1b3d;
}

#button{
    text-align: center;
    font-size: 1em;
    width: 15vw;
    color:rgba(39, 39, 39, 0.742);
    border-radius: 10px;
    letter-spacing: .2rem;
    margin: 0 auto;
}

#button:hover{
    background-color: #646ee0f6;
    color: #F7F7F7;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Ramabhadra', sans-serif;
    color: #17171798;
    padding-bottom: 1vh;
    border-bottom: solid #212529af 5px;
}

img:hover{
    cursor: pointer;
}

.card-text{
    word-wrap: break-word;
    width: 16vw;
    padding: 3px;
    word-spacing: 5px;
    font-size: 1rem;
    
}
 
/* #card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
} */

#readMore {display: none;}

#dots {
    font-weight: 900;
}

#dots:hover {
    font-weight: 900;
    text-decoration: underline;
    cursor: default;
}

#exampleFormControlInput1, #formControlTextarea1 {
    border: 2px #c9d1d95b solid;
    /* padding: 1rem; */
    background-color: #c9d1d95b;
}

label {
    font-weight: 800;
    color:#1c1200b1;
}



/* iphone 6 7 and 8 */

/* @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait)  */




